@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --dark-blue-bg: #1f2937;
    --primary-text-white: #f9faf8;
    --secondary-text-white: #e5e7eb;

    --button-color: #3882f6;
    --dark-text: #1f2937;
    --quote-section-bg: #e5e7eb;
}

/* border for testing purposes
border: red 1px solid;
*/


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.center-padding {
    padding: 0 15vw;
}

/*header styles*/

.header-container {
    background-color: var(--dark-blue-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container h1 {
    color: var(--primary-text-white);
    font-size: 24px;
}

.header-container nav {
    color: var(--secondary-text-white);

}

.header-container nav ul {
    list-style-type: none;
    display: flex;
    font-size: 18px;
    font-weight: 300;
}

.header-container nav ul li {
    padding: 0 16px;
}

.header-container nav ul li:last-child {
    padding-right: 0px;
}

/*hero styles*/
.hero-container {
    display: flex;
    background-color: var(--dark-blue-bg);
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    /* padding-right: 50px; */
}

.hero-title {
    color: var(--primary-text-white);
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}


.hero-text {
    color: var(--secondary-text-white);
    font-size: 18px;
    font-weight: 300;
}

.hero-signup {
    border-style: none;
    background-color: var(--button-color);
    font-family: inherit;
    color: var(--primary-text-white);
    height: 2em;
    font-size: 18px;
    font-weight: 700;
    /*used to make button width the resize to text length responsively*/
    align-self: flex-start;
    padding: 0 24px;
    border-radius: 8px;
}

.hero-image-container {
    height: 100%;
    padding-left: 50px;
}

.hero-image {
    width: 100%;
}


