@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

:root {
    --dark-blue-bg: #1f2937;
    --primary-text-white: #f9faf8;
    --secondary-text-white: #e5e7eb;

    --button-color: #3882f6;
    --dark-text: #1f2937;
    --quote-section-bg: #e5e7eb;
}

/* border for testing purposes
border: red 1px solid;
*/


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.center-padding {
    padding: 0 15vw;
}

/*header styles*/

.header-container {
    background-color: var(--dark-blue-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container h1 {
    color: var(--primary-text-white);
    font-family: 'Alata', 'Roboto', 'sans-serif';
    font-size: 24px;
}

.header-container nav {
    color: var(--secondary-text-white);

}

.header-container nav ul {
    list-style-type: none;
    display: flex;
    font-size: 18px;
    font-weight: 300;
}

.header-container nav ul li {
    padding: 0 16px;
    cursor: pointer;
}

.header-container nav ul li:hover {
    color: var(--button-color);
    transition: all 200ms ease-in;
}

.header-container nav ul li:first-child {
    padding-left: 0px;
}

.header-container nav ul li:last-child {
    padding-right: 0px;
}

/*hero styles*/
.hero-container {
    display: flex;
    background-color: var(--dark-blue-bg);
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 50px;
}

.hero-title {
    color: var(--primary-text-white);
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}


.hero-text {
    color: var(--secondary-text-white);
    font-size: 18px;
    font-weight: 300;
}


.hero-signup {
    border-style: none;
    background-color: var(--button-color);
    font-family: inherit;
    color: var(--primary-text-white);
    font-size: 18px;
    font-weight: 600;
    /*used to make button width the resize to text length responsively*/
    align-self: flex-start;
    padding: 12px 28px;
    border-radius: 8px;
}

.hero-signup:hover {
    background-color: #4c8ef7;
    /* padding: 14px 30px; */
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

@media screen and (max-width: 1300px) {
    .hero-title {
        font-size: 36px;
    }
    .hero-text {
        font-size: 16px;
    }
    .hero-signup {
        padding: 10px 24px;
    }
}

@media screen and (max-width: 900px) {
    .hero-title {
        font-size: 30px;
    }
    .hero-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 720px) {
    .hero-container {
        flex-direction: column-reverse;
    }
}

/* .hero-image-container {
    max-height: 100%
} */

.hero-image {
    max-height: 100%;
    max-width: 100%;
    min-width: 60%;
}

/*card styles*/

.card-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.card-header-container {
    font-size: 36px;
    font-weight: 700;
    color: var(--dark-text);
}

.card-header-container h1 {
    margin: 0;
}

.cards-container {
    display: flex;
    flex-direction: row;
    padding: 50px 0;
}

@media screen and (max-width: 1200px) {
    .cards-container {
        flex-direction: column;
    }
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
}

.card-container .card {
    border: var(--button-color) 3px solid;
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

#card1 {
    background-image: url(https://images.unsplash.com/photo-1590402494587-44b71d7772f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
}
#card2 {
    background-image: url(https://images.unsplash.com/photo-1543269865-0a740d43b90c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
}

#card3 {
    background-image: url(https://images.unsplash.com/photo-1552581234-26160f608093?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
}
#card4 {
    background-image: url(https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
}



.card-container p {
    width: 70%;
    text-align: center;
}

/*Quote Section*/

.quote-container {
    background-color: var(--quote-section-bg);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20vw;
    padding-right: 20vw;
}

.quote {
    color: var(--dark-text);
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    text-align: right;
    font-size: 18px;
    font-weight: 700;
}

/*CTA Section*/
.cta-container {
    background-color: var(--button-color);
    display: flex;
    margin: 100px 0;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
    flex-wrap: wrap;
    padding: -3em 2em;
}

.cta-text-container {
    margin: 2em 1.5em;
}

.cta-text-container p {
    color: var(--secondary-text-white);
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

#cta-header {
    color: var(--primary-text-white);
    font-size: 24px;
    font-weight: 700;
}

.cta-button {
    border-style: none;
    background: none;
    border: 2px solid var(--primary-text-white);
    color: var(--primary-text-white);
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    margin: 2em;
}

/*Footer Section*/
.footer-container {
    background-color: var(--dark-blue-bg);
    margin: 0;
    display: flex;
    justify-content: center;
    color: var(--secondary-text-white);
}